:root {
    --background-colour: #F2F2F2;
    --background-text: #0D0D0D;
    --title-colour: #7A8FA3;
    --header-colour: #031626;
    --button-colour: #7A8FA3;
    --button-border: #031626;
    --button-text: var(--background-text);
}

main {
    /* Alignment styles */
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 10%;
}

form {
    display: block;
}

img {
    width: 0;
    height: 0;
    display: block;
    padding: 0;
    margin: 0 35% 0 35%;
}

h2 {
    display: none;
}

.upload_photo_button {
    /* Font styles */
    font-size: 14px;
    color: var(--background-text);

    /* Border styles */
    border: 2px solid var(--button-border);
    border-radius: 15px;
    background-color: var(--button-colour);

    /* Other styles */
    cursor: pointer;
    padding: 1%;
    margin-top: 10%;
}

.section_break_1 {
    padding: 2%;
}

.help_button {
    /* Font styles */
    font-size: 14px;
    color: var(--button-text);
    text-decoration: none;

    /* Border style */
    border: 2px solid var(--button-border);
    border-radius: 15px;
    background-color: var(--button-colour);

    /* Other styles */
    cursor: pointer;
    padding: 1%;
}

.section_break_2 {
    padding: 5%;
}
