:root {
    --background-colour: #F2F2F2;
    --background-text: #0D0D0D;
    --title-colour: #7A8FA3;
    --header-colour: #031626;
    --button-colour: #7A8FA3;
    --button-border: #031626;
    --button-text: var(--background-text);
}

main {
    text-align: left;
    padding: 0 10px 0 10px;
}

.main_content {
    display: flex;
    text-align: center;
}

.math_section {
    width: 100%;
}

.edit_section {
    padding: 10%;
    width: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.reproccess_button {
    /* Font styles */
    font-size: 14px;
    color: var(--button-text);
    text-decoration: none;

    /* Border style */
    border: 2px solid var(--button-border);
    border-radius: 15px;
    background-color: var(--button-colour);

    /* Other styles */
    cursor: pointer;
    padding: 1%;
}