body {
    padding-top: 10%;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.upload_photo_button {
    border-style: solid;
    border-width: 2px;
    border-color: #333333;
    cursor: pointer;
    padding: 5%;
    border-radius: 15px;
    background-color: #6699FF;
}

.section_break {
    padding: 20%;
}