<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata Tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Webpage Title -->
    <title>Page Not Found!</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="static/css/error_page.css">
</head>
<body>
    <h1>Page Not Found</h1>
    <p>The page you were looking for was not found! (Error code: 404)</p>
    <b><a href="/">Click here</a> to go to the home page</b>
</body>
</html>