<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata Tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Webpage Title -->
    <title>Math Converter — Help</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="static/css/help.css">
</head>
<body>
    <h1>Help</h1>
    <p>Whoops! You're either curious as to why it isn't working, or you've made a mistake in the process!</p>

    <h2>Examples</h2>
    <p>Try looking at the example images below for how the images should look:</p>
    <!-- Insert example images here -->

    <h2>Walkthrough</h2>
    <p>You might've also not done the process correctly. Here's a video to show you how it should work:</p>
    <!-- Insert video here -->
</body>
</html>