<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Math Converter — Home</title>
        <link rel="stylesheet" href="static/home.css">
        <link rel="stylesheet" href="static/camera.css">
    </head>
    <body>
        <div class="upload_photo">
            <form action = "/upload_success" method = "post" enctype="multipart/form-data">
                <input type="file" name="uploaded_file" class="upload_photo_button">
                <p class="section_break"></p>
                <input class="upload_photo_button" type="submit" value="Process!">
            </form>
        </div>

        <div class="help_button">
            <button>Help</button>
        </div>

        <div class="camera">
            <!-- Camera -->
            <main id="camera">
                <!-- Camera sensor -->
                <canvas id="camera--sensor"></canvas>
                <!-- Camera view -->
                <video id="camera--view" autoplay playsinline></video>
                <!-- Camera output -->
                <img src="//:0" alt="" id="camera--output">
                <!-- Camera trigger -->
                <button id="camera--trigger">Take a picture</button>
            </main>
        </div>

        <!-- JavaScript files -->
        <script src="static/camera.js"></script>
    </body>
</html>
